<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>css study</title>
    {% load static %}
    <link rel="stylesheet" type="text/css"  href="{% static 'FlexBox_Grid.css' %}?after">




</head>

<body>

    <div class="wrapperA">
        <div class="wrapperA_1">
            <div class="wrapperA_content_helper"></div>
            <div class="wrapperA_content">
                AC1-1
            </div>
            <div class="wrapperA_content">
                AC1-2
            </div>
            <div class="wrapperA_content">
                AC1-3
            </div>
            <div class="wrapperA_content">
                AC1-4
            </div>
        </div>
        <div class="wrapperA_1">
            <div class="wrapperA_content_helper"></div>
            <div class="wrapperA_content">
                AC2-1
            </div>
            <div class="wrapperA_content">
                AC2-2
            </div>
            <div class="wrapperA_content">
                AC2-3
            </div>
            <div class="wrapperA_content">
                AC2-4
            </div>
        </div>
        
    </div>
    
    <div class="wrapperB">
        <div class="wrapperB_A">
            <p>aaaaaaa</p>
            <div class="wrapper_B_content">
                1
            </div>
            <div class="wrapper_B_content">
                2
            </div>
            <div class="wrapper_B_content">
                3
            </div>
            <div class="wrapper_B_content">
                4
            </div>
            <div class="wrapper_B_content">
                5
            </div>
        </div>
        <div class="wrapperB_B">
            <div class="wrapperB_B_A">
a
            </div>
            <div class="wrapperB_B_B">
                b
            </div>
            <div class="wrapperB_B_C">
                c
            </div>
        </div>
    </div>




    

</body>
</html>