<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>css study</title>
    {% load static %}
    <script type="text/javascript" src="{% static 'test_js.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>    
    <link rel="stylesheet" type="text/css"  href="{% static 'inflearn_css.css' %}?after">
</head>

<body>
    
    <div class="container">
        <div class="contentA">
            <span class="contentA_title"> 
                타이틀 타이틀
            </span>
            <button class="btn btn_A">
                구분자 구분
            </button>
            <button class="btn btn_A">
                구분자 구분
            </button>
        </div>
        <div class="content contentB">
            <div class="contentB_out">
                <span class="contentB_in_title">
                   Test1
                </span>
                <div class="contentB_in_content">
                    <div class="contentB_in_content_A">
                        카메라1
                    </div>
                    <div class="contentB_in_content_B">
                        72,049 
                        <span class="contentB_in_content_B_span">
                            (컷)
                        </span>
                    </div>
                </div>
                <div class="contentB_in_content">
                    <div class="contentB_in_content_A">
                        카메라2
                    </div>
                    <div class="contentB_in_content_B">
                        72,049 
                        <span class="contentB_in_content_B_span">
                            (컷)
                        </span>
                    </div>
                </div>
                <div class="contentB_in_content">
                    <div class="contentB_in_content_A">
                        카메라3
                    </div>
                    <div class="contentB_in_content_B_1">
                        72,049 
                        <span class="contentB_in_content_B_span_1">
                            (컷)
                        </span>
                    </div>
                    <div class="contentB_in_content_B_2">
                        72,049 
                        <span class="contentB_in_content_B_span_2">
                            (컷)
                        </span>
                    </div>
                </div>
                <div class="contentB_in_content">
                    <div class="contentB_in_content_A">
                        카메라4
                    </div>
                    <div class="contentB_in_content_B">
                        72,049 
                        <span class="contentB_in_content_B_span">
                            (컷)
                        </span>
                    </div>
                </div>
            </div>
            <div class="contentB_out">
                <span class="contentB_in_title">
                   Test2
                </span>
                <div class="contentB_in_content">
                    <div class="contentB_in_content_A">
                        카메라1
                    </div>
                    <div class="contentB_in_content_B">
                        72,049 
                        <span class="contentB_in_content_B_span">
                            (컷)
                        </span>
                    </div>
                </div>
                <div class="contentB_in_content">
                    <div class="contentB_in_content_A">
                        카메라2
                    </div>
                    <div class="contentB_in_content_B">
                        72,049 
                        <span class="contentB_in_content_B_span">
                            (컷)
                        </span>
                    </div>
                </div>
                <div class="contentB_in_content">
                    <div class="contentB_in_content_A">
                        카메라3
                    </div>
                    <div class="contentB_in_content_B_1">
                        72,049 
                        <span class="contentB_in_content_B_span_1">
                            (컷)
                        </span>
                    </div>
                    <div class="contentB_in_content_B_2">
                        72,049 
                        <span class="contentB_in_content_B_span_2">
                            (컷)
                        </span>
                    </div>
                </div>
                <div class="contentB_in_content">
                    <div class="contentB_in_content_A">
                        카메라4
                    </div>
                    <div class="contentB_in_content_B">
                        72,049 
                        <span class="contentB_in_content_B_span">
                            (컷)
                        </span>
                    </div>
                </div>
            </div>
            <div class="contentB_out">
                <span class="contentB_in_title">
                   Test3
                </span>
                <div class="contentB_in_content">
                    <div class="contentB_in_content_A">
                        카메라1
                    </div>
                    <div class="contentB_in_content_B">
                        72,049 
                        <span class="contentB_in_content_B_span">
                            (컷)
                        </span>
                    </div>
                </div>
                <div class="contentB_in_content">
                    <div class="contentB_in_content_A">
                        카메라2
                    </div>
                    <div class="contentB_in_content_B">
                        72,049 
                        <span class="contentB_in_content_B_span">
                            (컷)
                        </span>
                    </div>
                </div>
                <div class="contentB_in_content">
                    <div class="contentB_in_content_A">
                        카메라3
                    </div>
                    <div class="contentB_in_content_B_1">
                        72,049 
                        <span class="contentB_in_content_B_span_1">
                            (컷)
                        </span>
                    </div>
                    <div class="contentB_in_content_B_2">
                        72,049 
                        <span class="contentB_in_content_B_span_2">
                            (컷)
                        </span>
                    </div>
                </div>
                <div class="contentB_in_content">
                    <div class="contentB_in_content_A">
                        카메라4
                    </div>
                    <div class="contentB_in_content_B">
                        72,049 
                        <span class="contentB_in_content_B_span">
                            (컷)
                        </span>
                    </div>
                </div>
            </div>
        </div>   
        <div class="contentC">
            <div class="content contentC_A">
                <div class="contentC_A_content">
                    <div class="contentC_A_content_in_title">
                        설정 1
                    </div>
                    <div class="contentC_A_content_in_answer">
                        123
                        <span class="contentC_A_content_in_span">
                            회
                        </span>
                    </div>
                </div>
                <div class="contentC_A_content">
                    <div class="contentC_A_content_in_title">
                        설정 2
                    </div>
                    <div class="contentC_A_content_in_answer2">
                        4/1
                        <span class="contentC_A_content_in_span">
                            회
                        </span>
                    </div>
                </div>
            </div>
            <div class="content contentC_A">
                <div class="contentC_A_content">
                    <div class="contentC_A_content_in_title">
                        설정 3
                    </div>
                    <div class="contentC_A_content_in_answer3">
                        123
                        <span class="contentC_A_content_in_span">
                            회
                        </span>
                    </div>
                </div>
                <div class="contentC_A_content">
                    <div class="contentC_A_content_in_title">
                        설정 4
                    </div>
                    <div class="contentC_A_content_in_answer2">
                        4/1
                        <span class="contentC_A_content_in_span">
                            회
                        </span>
                    </div>
                </div>
            </div>
            <div class="content contentC_A">
                <div class="contentC_A_content2">
                    <div class="contentC_A_content2_title">
                        설정 5
                    </div>
                    <div class="contentC_A_content2_answer">
                        213
                        <span class="contentC_A_content2_span">
                            회
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
   
</body>
</html>