*{
    font-family: verdana;
    margin: 0;
    box-sizing: border-box;

}
body{
    background: #eee;
}

.wrapperA{
    display: block;
    border: 5px solid black;
    padding : 10px;
    height: 5%;
    text-align: center;
}
.wrapperA_1, .wrapperA_2{
    width : 350px;
    height : 50px;
    border: 5px solid black;
    display: inline-block;
    text-align: center;
}
.wrapperA_content_helper{
    display: inline-block;
    height: 100%;
    
    vertical-align: middle;
    background: orchid;
}
.wrapperA_content{
    width: 20%;
    height : 30px;
    border: 3px solid black;
    display: inline-block;
    
    vertical-align: middle;
    margin: 5px 3px;
    text-align: center;
}

.wrapperB{

    display: flex;
    
    flex-wrap: nowrap;
    border: 5px solid greenyellow;
    justify-content: center;
    margin: 5px;
    

}


.wrapperB_A{
    position :relative;
    height: 50vh;
    background: blue;
    flex: 1 0 18.25%;
    border: 5px solid black;
    text-align: center;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content:flex-end;
    justify-content: center;
    margin: 5px;

}

.wrapperB_A p{
    position : absolute;
    top: 10px;
    left: 10px;
}
.wrapper_B_content
{
    display: inline-block;
    text-align: center;
    margin : 5px;
    width: 80%;
    height: 15%;
    background : aquamarine;
    border : 2px solid black;
}

.wrapperB_B{
    height: 50vh;
    background: green;
    flex: 1 0 81.75%;
    border: 5px solid black;
    padding: 5px;
    margin: 5px;
    display: inline-block;

}



.wrapperB_B_A{
    width: 98%;
    height: 15%;
    border: 1px solid black;
    display: inline-block;
    justify-content: center;
}
.wrapperB_B_B{
    width: 69%;
    height: 85%;
    border: 1px solid black;
    display: inline-block;
}
.wrapperB_B_C{
    width: 29%;
    height: 85%;
    border: 1px solid black;
    display: inline-block;
}


@media (min-width: 350px) and (max-width: 757px){
    
    .wrapper_B_content
    {
        width: 18%;
        height: 80%;
        background : aquamarine;
        border : 2px solid white;
    }
    .wrapperB_A p{
        position : absolute;
        top: 4px;
        left: 10px;
    }
    
    .wrapperB{
        display: flex;
        flex-wrap: wrap;
        border: 5px solid pink;
        justify-content: center;
    }
    .wrapperB_A{
        height: 15vh;
        background: blue;
        flex: 1 0 500px;
    }
    .wrapperB_B{
        height: 30vh;
        background: green;
        flex: 1 0 500px;
    }

}


